# Specifically only including the best MLP model
FF_models/*
!FF_models/hours_since_2018_feature
!FF_models/scaler.hours_since_2018.pkl

FF_models/hours_since_2018_feature/*
!FF_models/hours_since_2018_feature/2023_04_01-05_23_36_PM

# not including any of the other models
lstm_models
attention_models

.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]